
#myTable tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray background for even rows */
}

table{
    text-align: center;
    color: pink;
    border-collapse: collapse;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    background-color: black;
}

