@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter&display=swap');
body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
h2, h1{
    font-family: 'Calistoga', serif;
}

#mode{
    background-color: #780000;
    text-align: end;
    padding: 20px;
    cursor: pointer;
}


.navigation {
    display: flex;
    background-color: #780000;
    padding: 50px;
    padding-top: 0px;
    margin: 0%;
}
.navigation li {
    display: block;
    flex: 1 1 100%;
    padding-left: 30px;
    padding-right: 30px;
}
.navigation a {
    color: white;
    padding: 20px;
    text-decoration: none;
    text-align: center;
}
.navigation a:hover, .navigation a:active{
    color: #780000;
    background-color: #f5f5f5;
    transition: 0.5s;
}
#menu{
    display: none;
}



.hero-container{
    font-family: 'Calistoga', serif;
    font-size: 40px;
    padding: 20px;
    display: flex; /* or display: grid; */
    align-items: center;
    height: 100%;
    padding: 0%;
}
#hero {
    position: relative;
    max-height: 500px;
    overflow: hidden;
}

#hero-img {
    width: 100%; /* Ensures image covers entire container */
    height: auto;
    object-fit: cover; /* Makes sure image covers entire container */
    margin: 0;
}
#hero-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
/*Testing image sizes label*/


.large-label, .medium-label, .small-label {
	position: absolute;
	top: 30px;
	left: 30px;
	background: #fff;
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
}

.large-label p, .medium-label p, .small-label p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 1.5rem;
	font-family:"Great Vibes", serif;
}




/* Additional styles for button and title */
.home-title{
    font-size: 36px;
    color: white;
}
.join-button{
    padding: 10px 20px;
    background-color: #f5f5f5;
    color: #669BBC;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
}
.join-button:hover {
    background-color: #0056b3;
    color:#f5f5f5;
}

.sectionEvents{
    background-color: #780000;
    color: #f5f5f5;
    padding: 100px;
    display: grid;
    column-gap: 70px;
    grid-template-columns: 1fr 1fr;
}
.sectionEvents p, #events-title{
    grid-column: 1/2;
    text-align: start;
    font-family: 'Inter', sans-serif;
}
#events-title{
    font-family: 'Calistoga', serif;
    font-size: 30px;
}
#events-img{
    grid-column: 2/3;
    grid-row: 1/3;
    width: 70%; /* Ensure the grid item takes up full width */
    height: auto; /* Ensure the grid item takes up full height */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center;
}


.sectionSpotlights, .sectionWeather{
    /*background-color: #f5f5f5;*/
    padding: 10%;
    align-content: center;
}
.spotlightContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}
.spotlightContainer p{
    background-color: #000000;
    color: #f5f5f5;
    margin: 10px;
    padding: 10px;
}


footer {
    background-color: #669BBC;
    color: #f5f5f5;
    padding: 15px;
    font-family: 'Inter', sans-serif;
}
.footer1 p {
    display: inline-block;
    padding: 15px;
}

/*Sidebar*/
.container {
    height: auto;
    display: grid;
    grid-template-columns: 300px 1fr; /* Sidebar width and remaining space */
    grid-gap: 20px; /* Gap between sidebar and main content */
}
  
.sidebar {
    background-color: rgb(233, 233, 233);
    color: rgb(0, 0, 0);
    padding: 20px;
    padding-bottom: 65px;
}
  
.content {
    padding: 60px;
}

.images-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Optional: Centers the images horizontally */
}

.images-container img {
    max-width: 100%; /* Ensures images don't exceed container width */
    margin-bottom: 10px; /* Optional: Adds spacing between images */
}


.card{
    padding-bottom: 20px; 
    margin-top: 60px;
    outline: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    width: 100%;
    text-align: left;
}
#calendar{
    width: 250px;
    height: 250px;
    margin-top: 25px;
    margin-left: 5px;
}

.card p, .card h2{
    padding: 20px;
}
.content img{
    width: auto;
    height: 10%;
}
.content h2{
    font-size: 40px;
}

.content img:hover {
    box-shadow: 0 0 10px rgb(130, 129, 129);
}

/*thank you*/
.thanks-page{
    background-color: #780000;
}
#thankyou-message{
    color: #fff;
    margin: 15%;
}


/* Form */

.join-us{
    margin-top: 8%;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 20px;
    padding: 30px;
}

form {
    width: 80%;
    max-width: 500px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

form > * {
    margin-bottom: 15px;
}

label {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: auto;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/*membership benefits*/
.membership-benefits {
    float: left; /* Float the benefits container to the right */
    width: 30%; /* Adjust the width of the sidebar as needed */
    padding: 20px;
    background-color: #f9f9f9;
    border-left: 1px solid #ccc; /* Add a border to separate from the main content */
    text-align: left;
    padding: 20px;
}
.membership-benefits h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}
.membership-benefits h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}
.membership-benefits ul {
    margin-left: 0;
    padding-left: 20px;
}
.membership-benefits li {
    margin-bottom: 10px;
}
.membership-benefits ul {
    list-style-type: disc;
    margin-bottom: 80px;
}

.membership-benefits ul ul {
    list-style-type: circle;
}

footer {
    clear: both;
}


#grid, #list{
    cursor: pointer;
    padding: 5px;
    margin: 5px;
}
#grid:hover, #list:hover{
    background-color: #669BBC;
    color: #f5f5f5;
    border-radius: 3px;
}
.company-card{
    background-color: white;
    margin: 15%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
}
#directory-page-title{
    margin: 80px;
    font-size: 40px;
}
hr{
    border: 1px solid #373737;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
}
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 5px;
	align-items: center;
}

.grid section {
	text-align: center;
}
.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}