@media screen and (min-width: 40em){
    header{
        font-size: 35px;
    }
    #profileImg{
        height: 300px;
    }
    nav{
        display: flex;
        justify-content: space-around;
    }
    main{
        grid-template-columns: 1fr 1fr;
        align-items: stretch;
    }
    #courseTitle{
        grid-column:1/3;
        align-self: center;
    }
    .card{
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    }


    
    .navigation li {
        display: inline-block;
        flex: 1 1 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
    .navigation a {
        text-align: center;
    }
    #menu {
        display: none;
    }
}




